*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #eff4fd;
    
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.dete{
    margin-left: 8%;
    margin-top: 13%;
}

.dete h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: orange;
}

.dete p{
    color: #555;
    line-height: 22px;
}
 .about
 {
color: blue;
text-underline-offset: 3px;
 }
.dete a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.dete a:hover{
    color: green;
}

.images{
    width: 45%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.Home{
    color: blue;
    text-underline-offset: 3px;
}

.profile{
    color: blue;
    text-underline-offset: 3px;
}

.servies{
    color: blue;
    text-underline-offset: 3px;
}

.hireme{
    color: blue;
    text-underline-offset: 3px;
}

.logo{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 8px;  
}

.left-sidebar{
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #fcd10f;
    border-bottom-right-radius: 35%;
    border-top-right-radius: 35%;

}

.row{
    padding: 0 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin: 5%;
}

.left-col{
    flex-basis: 40%;
}
.right-col{
    flex-basis: 50%;
}
.left-col img{
    width: 50%;
    height: 300px;
    cursor: pointer;
    transition: transform 0.5s;
}

.left-col img:hover{
    transform: translateY(-8px);
}

.right-col p{
    color: #777;
    margin: 5px 0 10px;
    font-style: italic;
}

.socialicon{
    display: flex;
    margin-top: 30px;
}

.socialicon .logos{
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 20px;
    overflow: hidden;
    transition: transform 0.5s;
}
.logos img{
    width: 52px;
    align-items: center;
}
.logos a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fcd10f;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: transform 0.5s;
}
.logos a:hover{
    opacity: 1;
}
.logos:hover{
    transition: transform 0.5s;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}  
.title {
    color: grey;
    font-size: 18px;
}
  
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    inline-size: 100%;
    font-size: 18px;
}
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
button:hover, a:hover {
    opacity: 0.7;
}